body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.map-wrapper {
  height: 100vh; 
  width: 100vw;  

  animation: fadeInEffect 1.2s ease-in-out;
}

@keyframes fadeInEffect {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}


.leaflet-container {
  height: 100%;
  width: 100%;
}